<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>View Songs</title>
</head>
<body>

<h3>View Songs</h3>


<table>
    <thead>
        <tr>
            <th>Song name</th>
            <th>Duration </th>
            <th>Album name</th>
            <th>Artist name</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="song: ${displaySongs}">
            <td th:text="${song.song_name}"/>
            <td th:text="${song.duration}"/>
            <td th:text="${song.album_name}"/>
            <td th:text="${song.artist_name}"/>
        </tr>
    </tbody>
</table>
<a href="/">index</a>


</body>
</html>